body {
    margin: 0;
    background-color: black;
}
header {
    background-color: black;
}
.header-container {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: auto;
}
.danhmuc {
    display: flex;
    align-items: center;
    padding: 10px 0;
}
.logo {
    width: 15%;
}
ul {
    display: flex;
    list-style: none;
    padding: 10px;
    gap: 20px;
}
a {
    text-decoration: none;
    font-weight: bolder;
    color: #9b9b9b;
    font-size: 16px;
    font-family: "SFProDisplay", Arial, sans-serif;
}
a:hover {
    color: orange;
}
.icon {
    align-items: center;
    display: flex;
    gap: px;
}
.icon i {
    color: white;
    margin-right: 20px;
}
.icon i:hover {
    color: orange;
}
.chucnang {
    display: flex;
    align-items: center;
    gap: 30px;
}
.muagoi {
    background-color: orange;
    border-radius: 10px;
    color: white;
    padding: 10px 20px;
    width: 100px;
    border: none;
}
.dangnhap {
    background-color: black;
    color: white;
    border: none;
    width: 100px;
}
.dangnhap:hover {
    color: orange;
}
.quangcao {
    display: flex;
    justify-content: center;
    width: 100%;
}
.quangcao img {
    max-width: 100%;
}
.container {
    width: 100%;
    margin-top: 10px;
}
.banner {
    width: 100%;
}   
.theloai {
    margin-top: 20px;
    padding: 20px;
}
.theloai h2 {
    color: white;
    font-size: 20px;
    margin-bottom: 10px;
}
.danhsach {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.theloai.phim {
    position: relative;
    width: 200px;
    height: 120px;
    overflow: hidden;
    border-radius: 10px;
}
.phim img {  
     width: 100%;
     height: 100%;
     border-radius: 10px;
}
.phim span {
    position: absolute;
    /* bottom: 0;
    left: 0;
    right: 0;
    top: 0; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 20px;
    
}


footer {
      background-color:  #131314;
      color: white;
      text-align: center;
      padding: 20px;
}
.footer-container {
      width: 1200px;
      margin: auto;
      display: flex;
      justify-content:space-between;
}
.footer-column {
    /* flex: 1; */
    width: 200px;
    font-size: 16px;
    font-weight: bold;
}
.footer-logo img {
      width: 120px;
      margin-bottom: 10px;
     
}
.footer-links a {
      display: block;
      margin-bottom: 6px;
      font-weight: 500;
      text-decoration:none;
}
.footer-mangxh {
      width: 20px;
      height: 20px;
      margin-right: 10px;
      
}
.footer-cuoi {
      font-size: 18px;
      color: white;
}
.footer-cuoi p { 
  text-decoration: none;
  margin: 0px 0px 0px 140px;
  padding: 0;
  text-align: justify;
}
